services:
  frontend:
    build: 
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    volumes:
     - .:/app
     - /app/node_modules
    environment:
      NODE_ENV: development
      REACT_APP_API_URL: http://localhost:8080
    stdin_open: true
    tty: true
    command: npm start
  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    volumes:
     - ./backend:/app
     - /app/node_modules
    environment:
      NODE_ENV: development
    stdin_open: true
    tty: true
    command: node Connect.js